<div class="card mb-12">
  <div class="card-header">
    <h2>
      <i class="fa fa-list" aria-hidden="true"></i> <b>Edit Post</b> <button type="button" class="btn btn-sm btn-primary" (click)="onclickButton()">Home</button>
    </h2>
  </div>
  <div class="card-body table-responsive">
    <form [formGroup]="postGroup" (ngSubmit)="ngSubmit()">
      <div class="row">
        <div class="col-md-6">
          <input type="text" placeholder="Title" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['title'].errors }" formControlName="title"
          />
        </div>
        <div class="col-md-6">
          <input type="text" placeholder="Name" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" formControlName="name"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <input type="email" placeholder="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" formControlName="email"
          />
        </div>
        <div class="col-md-6">
          <input type="text" placeholder="Contact Number" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['contactNumber'].errors }" formControlName="contactNumber"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <input type="text" placeholder="address" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['address'].errors }" formControlName="address"
          />
        </div>

      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
